@page
@model IndexModel
@{
    ViewData["Title"] = "El hogar para los amantes de la pizza";
    TimeSpan timeInBussiness = DateTime.Now - new DateTime(2025, 1, 1);
}

<div class="text-center">
    <h1 class="display-4">Pizzeria Contoso</h1>
    <p>La mejor pizza de la Ciudad por @Convert.ToInt32(timeInBussiness.TotalDays) dias!</a>.</p>
</div>
